%h1 Welcome!
%p Some text here.

#register_box
  - if configatron.enable_signups
    %h1 Sign Up Now!
    = render :partial => 'users/form'
  - else
    %h1 Get an Invite!
    = render :partial => 'invites/form'